@model RunNo_MVC.Models.Product

@{
    ViewBag.Title = "获取号码";
}
<div class="container" style="text-align: center;font-size:31px">
<h1>@Model.Name</h1>

<br>

<a asp-action="Index" class="btn btn-lg btn-success btn-shadow" asp-controller="Home">获取号码</a>
</div>