@model RunNo_MVC.Models.Product

@{
    ViewBag.Title = "获取号码";
}
<div class="container" style="text-align: center;font-size:31px">
<h1>@Model.Name</h1>

<br>

<a  id="getnumber" class="btn btn-lg btn-success btn-shadow" >获取号码</a>
<br>
<span style="font-size:7px;color:#ffffff;" id="spankey">@Model.GUID</span>
</div>
<script>
$("#getnumber").click(function(){
    
    var key = $("#spankey").text();
    window.location.href = "/Home/Index/"+key;

});

</script>